body {
  margin: 0;
  font-size: 143%;
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: 'Metal Mania';
}

h1 {
  font-size: 1.5em;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px red;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Futura';
}

label {
  border: 1px solid darkred;
  box-shadow: 2px 2px 0px red;
  margin: 7px 0;
  padding: 15px 5px;
  width: 350px;
  letter-spacing: 0.4rem;
}

input {
  font-size: 1rem;
  width: 90%;
  font-family: sans-serif;
}

button {
  font-size: 3rem;
  color: darkred;
  margin-top: 10px;
  padding: 5px 20px 10px 100px;
  border: 1px solid darkred;
  box-shadow: 2px 2px 0px red;
  position: relative;
  transition: all 0.3s;
  text-transform: uppercase;
}

button::after {
  position: absolute;
  height: 70px;
  width: 70px;
  background: url(https://i1.sndcdn.com/avatars-000055534070-2cp3vu-t200x200.jpg);
  background-size: cover;
  content: '';
  left: 10px;
  transition: all 0.3s;
  top: 5px;
}

button:disabled {
  opacity: 0.4;
  color: black;
  border: 1px slategrey solid;
  box-shadow: 2px 2px 0px slategrey;
}

button:hover::before {
  transform: rotate(90deg);
}

.disclaimer {
  font-size: 0.6rem;
  color: darkgrey;
  font-family: sans-serif;
}

.time {
  font-size: 1.75em;
}

.successWrapper, .blackOut {
  position: fixed;
  font-size: 1.3em;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: white;
}
.blackOut {
  background: black;
}

@media screen and (max-width: 420px) {
  body {
    font-size: 100%;
    background: blue;
  }
  form {
    background: blue;
  }
}
